BODY
{
	margin: 1.2vw;
	letter-spacing: 0.5px;
	min-width: 400px;
	font-family: 'Anonymous Pro', monospace;
    background-color: #F2D8B0;
}

H1
{
    margin: 0;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 25px;
    background-color: #011935;
    color: #fff;
    text-shadow: #81A9D9 0 0 5px;
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
}
Header
{
    background-color: #011935;
    position: relative;
    bottom: 3vh;
    right: 2vw;
    width: 103.3%;
}

header span
{
    color: #fff;
    font-size: 21px;
    display: inline-block;
}

header ul
{
    color: #fff;
    display: inline-block;
    list-style: none;
    float: right;
    margin: 0;
    margin-top: 10px;
    margin-right: 10px;
}

header ul li 
{
    margin-top: 3px;
    font-size: 17px;
    text-align: end;
    text-shadow: #81A9D9 0 0 3px;
}

.base_info
{
    position: absolute;
    top: 15px;
    right: 30px;
}

NAV
{
	display: inline-block;
	width: 15%;
    box-shadow: 4px 4px 7px 4px #011935;
}

.tabs H3
{
    display: inline-block;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    padding: 12px;
    color: #fff;
    word-break: break-word;
    cursor: pointer;
    border-right: dashed 2px; 
}

.tabs H3:hover,
.tabs H3:active
{
    background-color: #011935;
}

.tabs a:nth-child(n+2) h3
{
    margin-left: -10px;
}

.tabs a:nth-child(1) h3
{
    border-left: dashed 2px;
}

H2
{
	margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: #203D61;
    color: #fff;
    text-align: center;
	word-break: break-all;
}

.work H2
{
    text-align: left;
    background-color: #F2D8B0;
    color: #203D61;
    text-transform: capitalize;
}

.modules
{
	list-style: none;
    width: 100%;
    margin: 0;
	padding: 0;
    background-color: #011935;
}
.modules li
{
    display: inline-block;
    border: solid 1px;
    text-align: center;
    width: 100%;
    background-color: #A58554;
    font-size: large;
	word-break: break-word;
}

.modules li:hover,
.modules li:active
{
    background-color: #6B4C1B;
}

.modules a
{
	color: #001022;
    text-decoration: none;
    font-size: 19px;
    display: block;
    width: 100%;
}

.work
{
	display: inline-block;
    width: 80%;
    margin-top: -18px;
    vertical-align: top;
    margin-left: 5%;
}


SPAN
{
	display: list-item;
    list-style: none;
    color: #0C2C4B;
    margin-left: 15px;
	margin-top: 10px;
}

TEXTAREA
{
	height: 350px;
    width: 96%;
    resize: none;
    margin-left: 2%;
}

TEXTAREA::-webkit-scrollbar-track 
{
    box-shadow: inset 0 0 6px #75797D;
}

TEXTAREA::-webkit-scrollbar
{
    width: 6px;
    background-color: #fff;
}

TEXTAREA::-webkit-scrollbar-thumb
{
    background-color: #203D61;
    outline: 1px solid #203D61;
}

INPUT[type="text"]
{
    width: 50%;
    border: double 1px #0C2C4B;
    margin-right: 10px;
    background-color: #D7DADC;
    padding: 5px;
    display: block;
    color: #001022;
}


.block
{
	width: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: #DEC197;
    padding-bottom: 10px;
}

.block .block
{
	width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 20px;
	border: none;
}

.block .block div
{
	display : none;
}

.block .block span
{
	display : none;
}

.block .block H2
{
	background-color: #0C2C4B;
	cursor: pointer;
}
fieldset
{
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

.button
{
    background-color: #2B4156;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 15px;
}

.action,
.form_handler
{
    
    
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 3px;
    border-width: 0px;
    background-color: #203D61;
    cursor: pointer;
    
    word-break: break-word;
    color: #FFF6E8;
    text-transform: uppercase;
}

.form_handler 
{
    margin-left: 84%;
    margin-top: 25px;
    width: 15%;
}

.action
{
    width: 10%;
}   

.mask
{
    background-color: black;
    width: 999%;
    height: 999%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    display: none;
}
.window
{
    width: 40%;
    background-color: white;
    height: 300px;
    position: absolute;
    left: 35%;
    transform: translateY(-450px);
    display: none;
}
FORM,
.puz,
.puzl
{
    background-color: #FFF6E8;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 6px 2px #011935;
}
.tabs
{
    width: 100%;
    margin-top: 20px;
    background-color: #203D61;
    text-align: center;
}

.puzl
{

    display: inline-table;
    margin-top: 10px;
    width: 45%;
    float: left;
    margin-left: 10px;
}

.puzl:nth-child(n+4)
{
    
}

@media (max-width: 600px)
{

    header span
    {
        display: none;
    }

    header ul
    {
        display: none;
    }

    header
    {
        text-align: center;
    }

    .form_handler
    {
        margin-left: 70%;
        min-width: 100px;
    }

}