.inactive,
.active
{
	display: inline-block;
	margin: 0;
	text-transform: capitalize;
}

.inactive
{
	color: #b65b4f;
}

.active
{
	color: #438f78;
}

.puz button:nth-of-type(2)
{
	background-color: #b65b4f;
}

.puz button:nth-of-type(3)
{
	background-color: #bf8d5b;
}